* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  background-color: rgb(219, 207, 206);
}

.container {
  display: flex;
  margin: 16px;
  background-color: rgb(37, 35, 35);
  border-radius: 23px;
  border: 1px solid rgb(22, 22, 22);
}

.tools-box {
  width: 15%;
  height: 100vh;
  display: block;
}

.title {
  width: 250px;
  height: 50px;
  background-color: rgb(37, 35, 35);
  margin: 10px;
  text-align: center;
  color: #ffffff;
  font-size: 20px;
}

.btn-add-task {
  display: flex;
  background: transparent;
  color: #f9f9fc;
  font-size: 20px;
  border-color: transparent;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
}

.btn-add-task img {
  width: 26px;
  height: 26px;
  margin-right: 4px;
  color: #ffffff;
}
.modal-window-task {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: transparent;
  top: 0;
  left: 0;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 2000;
}
.modal-window-task.openModal {
  display: flex;
}

.modal {
  width: 40%;
  min-height: 200px;
  min-width: 450px;
  background-color: #3b3939;
  backdrop-filter: blur(10px);
  color: #ffffff;
  border-radius: 23px;
  padding: 50px;
}
.btn-close-modal {
  position: absolute;
  top: -8px;
  right: -8px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: none;
  background-color: orangered;
  color: #ffffff;
  font-size: 14px;
  cursor: pointer;
}

.input-fild-task {
  position: ce;
  width: 300px;
  height: 50px;
  border: none;
  font-size: x-large;
  color: #fffdfd;
  font-family: 'Inter', sans-serif;
  background: transparent;
}
input::placeholder {
  color: #a8a3a3;
}
input:focus {
  border: none;
  outline: none;
}
.save-task-modal {
  position: absolute;
  width: 140px;
  height: 30px;
  top: 140px;
  right: 100px;
  border: none;
  background-color: transparent;
  color: #ffffff;
  font-size: 25px;
  cursor: pointer;
  transition: background-color 0.4s;
}
.save-task-modal:hover {
  color: orangered;
  border-radius: 10px;
}
@keyframes openModal {
  from {
    opacity: 0;
    transform: translate3d(0, 20px, 5px);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
.openModal.modal {
  animation: openModal 0.5s;
}

.to-do-tittle {
  font-size: 20px;
  font-family: 'Inter', sans-serif;
  color: #ffffff;
  padding-top: 50px;
  padding-left: 60px;
}
