* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  background-color: rgb(196, 188, 187);
}

.container {
  display: flex;
  margin: 16px;
  background-color: rgb(255, 255, 255);
  border-radius: 23px;
  border: 2px solid #d5d4dd;
  
}

.tools-box {
  width: 15%;
  height: 100vh;
  display: block;

}

.title {
  width: 250px;
  height: 50px;
  background-color: #ffffff;
  border-radius: 20px;
  margin: 10px;
  text-align: center;
  color: #070707;
  font-size: 20px;
}
